
<div style="text-align:center !important">
  <h2>My Heroes</h2>
  <ul class="khans">
    <li *ngFor="let khan of khans" [class.selected]="khan === selectedKhan" (click)="onSelect(khan)"> <span class="badge">{{khan.id}} </span> {{khan.name}}</li>
  </ul>
  <select #t (change)="onSelectName($event)">
    <option *ngFor="let khan of khans" value="{{khan.id}}">{{khan.name}}</option>
  </select>
</div>
<div>
  <app-khan-details [khan]="selectedKhan"></app-khan-details>
</div>


<!--<div *ngIf="selectedKhan">
  <h5> Details <br />{{selectedKhan.name| uppercase}} </h5>
  <div><span>id: </span>{{selectedKhan.id}}</div>
  <div><span>name: </span>{{selectedKhan.name}}</div>
  <label>
    Name:
    <input [(ngModel)]="selectedKhan.name" placeholder="name" />
  </label>
</div>-->
